.spinner {
  display: block;
  width: var(--size-7);
  height: var(--size-7);
  border: 3px solid var(--color-2);
  border-bottom-color: transparent;
  border-radius: var(--radius-round);
  animation: var(--animation-spin);
}

.spinner-container {
  display: grid;
  place-content: center;
  margin: var(--size-10);

  &.hidden {
    display: none;
  }
}


