.tree-navigation-container {
  display: flex;
  align-items: end;

  & button {
    padding: 0;
    color: var(--color-6);
    background: transparent;
    border: none;

    &:hover {
      color: inherit;
    }
  }

  i {
    font-size: var(--size-3);
  }
}

intersection-observer::part(sentinel) {
  width: 100%;
  height: var(--size-9);
  margin-top: var(--size-4);
  background-color: var(--color-9);
  border: 1px solid var(--color-10);
  border-radius: var(--radius-3);
  animation: var(--animation-blink);
}
