@mixin menu-popup {
  /*
  ******************************************************************************
  -- Menu Popup
  ******************************************************************************
  */
  // Prevent the menu from showing when hovering with the mouse
  .vjs-menu-button-popup.vjs-hover .vjs-menu {
    display: none;
  }

  .vjs-menu-button-popup .vjs-menu {
    right: 0;
    bottom: 0;
    left: unset;
    width: 100%;
    margin: 0;
  }

  .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    right: 50%;
    bottom: 5em;
    display: grid;
    gap: .25em;
    min-width: 13em;
    padding: 1em .5em;
    background: rgba(22, 22, 22, .95);
    border-radius: .5em;
    transform: translateX(50%);
    overscroll-behavior: contain;
  }
}
