.tree-navigation-container {
  display: flex;
  align-items: end;

  & button {
    padding: 0;
    color: var(--color-6);
    background: transparent;
    border: none;

    &:hover {
      color: inherit;
    }
  }
}
