dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#pbw-dialog {
  width: 100%;
  max-width: 640px;
  height: 100%;
  max-height: 360px;
  padding: 0;
  overflow: visible;
  background-color: var(--gray-12);
}

.dialog-close-btn {
  position: absolute;
  top: -15px;
  right: 0px;
  z-index: 1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}


