dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#pbw-dialog {
  width: 100%;
  max-width: 640px;
  height: 100%;
  max-height: 360px;
  padding: 0;
  overflow: visible;
  background-color: var(--gray-12);
}

.dialog-close-btn {
  position: absolute;
  top: calc(var(--size-3) * -1);
  right: 0;
  /* video-js error screen is z-index=1 and the button is not easily clickable */
  z-index: 2;
  width: var(--size-7);
  height: var(--size-7);
  font-size: var(--size-4);
  text-align: center;
  border-radius: var(--radius-round);
}


