.category h2 {
  position: sticky;
  top: 0;
  margin: 0;
  padding: var(--size-3) 0;
  background-color: var(--color-11);
}

.category p {
  margin-bottom: 0;
  color: var(--color-5);
  font-size: var(--size-3);
  text-align: left;
}

.load-bar-container {
  display: flex;
  align-items: center;
  padding-left: var(--size-3);
  background-color: var(--color-8);
  border-radius: var(--radius-2);
}

.load-bar-container i {
  color: var(--color-5);
}

#load-bar {
  width: 90%;
}
