#examples {
  max-width: 470px;
}

#examples, #examples .category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#examples .category {
  width: 100%;
}

#examples .category p {
  margin-bottom: 0;
  color: var(--gray-5);
  font-size: var(--size-3);
  text-align: left;
}

.example-btn {
  width: 100%;
  margin: var(--size-1) 0;
  padding: var(--size-5) 0;
}
