.example-section p {
  margin-bottom: 0;
  color: var(--color-5);
  font-size: var(--size-3);
  text-align: left;
}

.load-bar-container {
  display: flex;
  align-items: center;
  padding: 0 var(--size-3);
  background-color: var(--color-8);
  border-radius: var(--radius-2);

  input {
    width: 90%;
  }

  button {
    background-color: var(--color-8);
    border: 0;
  }
}

.drm-settings-container {
  display: flex;
  flex-direction: column;
  max-height: var(--size-15);
  transition: max-height 0.4s ease;

  input {
    border-radius: var(--radius-2);
  }

  select {
    border-right: var(--size-5) solid var(--color-8);
  }
}

.drm-settings-container.hidden {
  max-height: 0;
  overflow: hidden;
}

.load-bar-action {
  width: 100%;
}
