.pbw-title-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  h1 {
    display: flex;
    gap: .15em;
    align-items: center;
  }
}

.pbw-logo {
  height: var(--size-7);
}

.version-txt {
  align-self: flex-end;
  color: var(--color-6);
  font-weight: var(--font-weight-4);
  font-size: var(--size-3);
  line-height: var(--size-5);
}

.github-link {
  display: flex;
  align-items: center;
}

.github-icon {
  fill: var(--color-5);

  &:hover {
    fill: var(--color-2);
  }
}

.pbw-menu {
  margin-bottom: var(--size-4);

  a {
    padding: var(--size-1) var(--size-2);
    border-radius: var(--radius-3);
    transition: background-color 0.4s, color 0.4s;

    &.selected {
      color: var(--color-8);
      text-decoration: none;
      background-color: var(--color-5);
      cursor: default;
      transition: background-color 0.8s, color 0.4s;
    }
  }
}
