#pbw-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
}

.pbw-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pbw-title * {
  margin-right: var(--size-1);
}

.pbw-title:last-child {
  margin-right: 0;
}

.pbw-logo {
  height: var(--size-7);
}

.version {
  font-weight: bold;
}

.github-link {
  display: flex;
  align-items: center;
}

.github-icon {
  fill: var(--gray-5);
}

.github-icon:hover {
  fill: var(--gray-2);
}

#menu {
  margin-bottom: var(--size-4);
}
