*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  --color-1: var(--gray-1);
  --color-2: var(--gray-2);
  --color-3: var(--gray-3);
  --color-4: var(--gray-4);
  --color-5: var(--gray-5);
  --color-6: var(--gray-6);
  --color-7: var(--gray-7);
  --color-8: var(--gray-8);
  --color-9: var(--gray-9);
  --color-10: var(--gray-10);
  --color-11: var(--gray-11);
  --color-12: var(--gray-12);

  @media (prefers-color-scheme: light) {
    --color-1: var(--gray-12);
    --color-2: var(--gray-11);
    --color-3: var(--gray-10);
    --color-4: var(--gray-9);
    --color-5: var(--gray-8);
    --color-6: var(--gray-7);
    --color-7: var(--gray-6);
    --color-8: var(--gray-5);
    --color-9: var(--gray-4);
    --color-10: var(--gray-3);
    --color-11: var(--gray-2);
    --color-12: var(--gray-1);
  }
}

body {
  max-width: var(--size-15);
  margin: 0 auto;
  padding: 0 var(--size-2);
  color: var(--color-4);
  font-size: var(--size-5);
  font-family: var(--font-sans);
  background-color: var(--color-11);
}

a {
  color: var(--color-4);
  font-weight: var(--font-weight-6);
  font-size: var(--size-4);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
  border-color: var(--color-6);
}

button {
  color: var(--color-0);
  font-weight: var(--font-weight-6);
  font-size: var(--size-3);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-9);
  border: 1px solid var(--color-10);
  cursor: pointer;
  transition: background-color 0.4s, border-color 0.4s;

  &.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--size-1) 0;
    padding: var(--size-4) var(--size-3);
    border-radius: var(--radius-2);

    span {
      margin-right: var(--size-2);
    }
  }

  &:hover {
    background-color: var(--color-8);
    border-color: var(--color-9);
  }

  &:hover:disabled, &:disabled {
    color: var(--color-9);
    background-color: var(--color-7);
    border-color: var(--color-7);
    cursor: not-allowed;
  }
}

h1 {
  font-size: var(--size-7);
}

h2 {
  font-size: var(--size-4);

  &.sticky {
    position: sticky;
    top: 0;
    margin: 0;
    padding: var(--size-3) 0;
    background-color: var(--color-11);
  }
}

h3 {
  font-size: var(--size-3);
}

input[type=text], select {
  margin: var(--size-1) 0 0 0;
  padding: var(--size-4) var(--size-3);
  color: var(--color-2);
  font-size: var(--size-3);
  background-color: var(--color-8);
  border: none;
  outline: none;
}

input[type=text]::placeholder {
  color: var(--color-5);
}

select:required:invalid {
  color: var(--color-5);
}

// Removes autofill styling
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color-8) inset !important;
  -webkit-text-fill-color: var(--color-2) !important;
}

select {
  cursor: pointer;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.content-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 0;
  padding: var(--size-4) var(--size-3);
  text-align: justify;

  &:first-of-type {
    border-radius: var(--radius-3) var(--radius-3) 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 var(--radius-3) var(--radius-3);
  }
}

.content-btn-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-btn-metadata-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: var(--size-2);

  * {
    color: var(--color-6);
    font-weight: var(--font-weight-5);
    font-size: var(--size-3);
  }
}

.content-btn-info {
  font-style: italic;
}

.warning-text {
  color: var(--red-7);
}

@import "player";
@import "dialog";
@import "examples";
@import "header";
@import "search";
@import "content-tree";
@import "spinner";
@import "intersection-observer";
@import "animations";

