*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;

  margin: 0;
  color: var(--gray-0);
  font-size: var(--size-5);
  font-family: var(--font-sans);
  background-color: var(--gray-12);
  place-content: center;
}

h1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.version {
  font-weight: bold;
}

.container {
  margin: 10px;
}

.pbw-demo {
  font-size: 15px;
}

#search-bar {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #333;
  border: none;
  border-radius: 5px;
  outline: none;
}

#search-bar::placeholder {
  color: #888;
}

.btn-link {
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-link:hover {
  background-color: #444;
  border-color: #555;
}

@import "dialog";
@import "examples";


