.intersection-observer {
  width: 100%;
  height: var(--size-9);
  margin-top: var(--size-4);
  background-color: var(--color-9);
  border: 1px solid var(--color-10);
  border-radius: var(--radius-3);
  animation: var(--animation-blink);
}
