@import '../../node_modules/material-icons/css/material-icons.scss';

.search-bar-container {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: var(--size-1);
  padding-left: var(--size-2);
  background-color: var(--color-8);
  border-radius: var(--radius-2);

  input {
    width: 90%;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
}

.results-container:empty {
  @include material-icon('search');
  gap: var(--size-3);
  align-items: center;
  justify-content: center;
  min-height: var(--size-12);
  margin-top: var(--size-10);
  color: var(--gray-8);
}

.results-container:empty:after {
  font-family: var(--font-sans);
  content: "No results";
}

.results-container:empty:before {
  font-size: var(--size-9);
}
