@import '../../node_modules/material-icons/css/material-icons.scss';

.search-bar-container {
  display: flex;
  align-items: center;
  margin: 0 0 var(--size-1) 0;
  padding: 0 var(--size-2);
  background-color: var(--color-8);
  border-radius: var(--radius-2);

  input {
    width: 90%;
  }

  button {
    display: flex;
    align-items: center;
    background-color: var(--color-8);
    border: 0;
  }
}

.results-container {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-3);
}

.results-container:empty {
  @include material-icon('search');
  gap: var(--size-3);
  align-items: center;
  justify-content: center;
  min-height: var(--size-12);
  margin-top: var(--size-10);
  color: var(--gray-8);
}

.results-container:empty:after {
  font-family: var(--font-sans);
  content: "Enter Something to search";
}

.results-container:empty:before {
  font-size: var(--size-9);
}

.results-container.no-results:empty {
  @include material-icon('do_not_disturb_alt');
  &:after {
    content: "No results";
  }
}
